services:
  app:
    build: .
    container_name: uned-group-links-dev
    ports:
      - "3001:3000"
    volumes:
      - .:/app:z
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
